.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*.Rproj
*.xlsx
*.docx
*.doc
*.pdf
*.gif
*.png
*.pdf
*.html
*.gz
*.txt
_site/
data/DO_mice/do
data/moore/?IL*
data/rrBLUP/*.csv
*.zip
*.rds
*.rdata
Figs
broman/colors_bw.R
broman/func.R